@(query:Form[Query])(implicit messages: MessagesRequestHeader)
<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>jQuery UI Autocomplete - Scrollable results</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/jquery-ui.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/jquery-ui.theme.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/jquery-ui.structure.css")">
        <style>
                fieldset {
                    border: 0;
                }
                label {
                    display: block;
                    margin: 30px 0 0 0;
                }
                .overflow {
                    height: 200px;
                }
        </style>
        <script>
                $( function() {
                    var availableTags = [
                        "ActionScript","AppleScript","Asp",
                        "BASIC",
                        "C",
                        "C++",
                        "Clojure"];
                    $( "#tags" ).autocomplete({
                        source: availableTags
                    });
                } );
        </script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
                google.charts.load('current', {
                    'packages':['geochart'],
                });
                google.charts.setOnLoadCallback(drawRegionsMap);

                function drawRegionsMap() {
                    var data = google.visualization.arrayToDataTable([
                        ['Country', 'Popularity'],
                        ['Germany', 200],
                        ['United States', 300],
                        ['Brazil', 400],
                        ['Canada', 500],
                        ['France', 600],
                        ['RU', 700]
                    ]);

                    var options = {region:"021"};

                    var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

                    chart.draw(data, options);
                }
        </script>
    </head>
    <body>
        <select id="selectmenu">
            <option>Slower</option>
            <option>Slow</option>
            <option selected="selected">Medium</option>
            <option>Fast</option>
            <option>Faster</option>
        </select>
        <select id="selectmenu2">
            <option>Slower</option>
            <option>Slow</option>
            <option selected="selected">Medium</option>
            <option>Fast</option>
            <option>Faster</option>
        </select>
        <div id="regions_div" style="width: 900px; height: 500px;"></div>
        <form method="post" action="@routes.Prova.p2()">
            @helper.CSRF.formField
            <div class="ui-widget">
                <label for="nameState">nameState: </label>
                <input name="nameState" id="nameState"> <!-- il tag name deve coincidere con la form -->
            </div>
            <br>
            <div class="ui-widget">
                <label for="column">column: </label>
                <input name="column" id="column">
            </div>
            <br>
            <div class="ui-widget">
                <label for="tipo">tipo: </label>
                <input name="tipo" id="tipo">
            </div>
            <input type="submit">
        </form>
        <div class="widget">
            <h1>Widget Buttons</h1>
            <button>A button element</button>

            <input type="submit" value="A submit button">

            <a href="#">An anchor</a>
        </div>
        <h1>CSS Buttons</h1>
        <button class="ui-button ui-widget ui-corner-all">A button element</button>

        <input class="ui-button ui-widget ui-corner-all" type="submit" value="A submit button">

        <a class="ui-button ui-widget ui-corner-all" href="#">An anchor</a>

        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/jquery-ui.js")"></script>
        <script>
                $( "#selectmenu" ).selectmenu();
                $( "#selectmenu2" ).selectmenu();
        </script>
    </body>
</html>


