@(query:Form[Query])(implicit messages: MessagesRequestHeader)
<!doctype html>
@main{

    <div class="position-absolute top-0 start-1">

        <h4 class="demoHeaders">Data Iniziale</h4>
        <input type="text" id="datepicker">
        <br>
        <h4 class="demoHeaders">Data Finale</h4>
        <input type="text" id="datepicker2">
    </div>

    <script type="text/javascript">
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                var data = google.visualization.arrayToDataTable([
                    ['Task', 'Hours per Day'],
                    ['Work',     11],
                    ['Eat',      2],
                    ['Commute',  2],
                    ['Watch TV', 2],
                    ['Sleep',    7]
                ]);

                var options = {
                    title: 'My Daily Activities',
                    is3D: true,
                };

                var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
                chart.draw(data, options);
            }
    </script>

    <html lang="en">
        <head>
            <meta charset="utf-8">
            <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/openlayers.css")">
            <style>
                    .map {
                        height: 400px;
                        width: 100%;
                    }
            </style>
            <script type="text/javascript" src="@routes.Assets.versioned("javascripts/openlayers.js")"></script>
            <title>OpenLayers example</title>
        </head>
        <body>
            <h2>My Map</h2>
            <div id="map" class="map"></div>
            <script type="text/javascript">
                    var map = new ol.Map({
                        target: 'map',
                        layers: [
                            new ol.layer.Tile({
                                source: new ol.source.OSM()
                            })
                        ],
                        view: new ol.View({
                            center: ol.proj.fromLonLat([37.41, 8.82]),
                            zoom: 4
                        })
                    });
            </script>
        </body>
    </html>
    <div class="container">
        <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
    </div>


    <script>
            $( "#datepicker" ).datepicker({
                changeMonth: true,
                changeYear: true
            });
            $( "#datepicker2" ).datepicker({
                changeMonth: true,
                changeYear: true
            });
    </script>
}
