
@import org.apache.spark.sql.DataFrame
@import org.apache.spark.sql.Dataset
@import play.api.libs.json.JsValue
@import org.json4s.jackson.Json
@(query:Form[Query])(dati:String)(implicit messages: MessagesRequestHeader)
<!doctype html>
@main{
    <!--[{
    name: 'London',
    lat: 35.695,
    lon: -101.395,

    "name": 'London',
    "lat": "35.695",
    "lon": "-101.395",
    }]-->





    <div class="position-absolute top-0 start-1">
        <form method="post" action="@routes.Prova.postMinAttribute()">
            @helper.CSRF.formField
            <div class="form-select">
                <label for="exampleFormControlSelect1">Mese</label>
                <select class="form-control" id="exampleFormControlSelect1" name="mese" >
                    <option>Gennaio</option>
                    <option>Febbraio</option>
                    <option>Marzo</option>
                    <option>Aprile</option>
                    <option>Maggio</option>
                </select>
            </div>
            <br>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Attributo</label>
                <select class="form-control" id="exampleFormControlSelect2" name="misura">
                    <option>Temperatura Max</option>
                    <option>Temperatura Min</option>
                    <option>Temperatura Media</option>
                    <option>Neve [cm]</option>
                    <option>Pioggia [mm]</option>
                    <option>Velocita media del vento</option>
                </select>
            </div>
            <input type="submit">
        </form>
    </div>
    <div class="container ">
        <div id="container"></div>


    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.6/proj4.js"></script>
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/usa-and-canada.js"></script>

<script>
        Highcharts.mapChart('container', {

            chart: {
                map: 'custom/usa-and-canada'
            },

            title: {
                text: 'Highmaps basic lat/lon demo'
            },

            mapNavigation: {
                enabled: true
            },

            tooltip: {
                headerFormat: '',
                pointFormat: '<b>{point.name}</b><br>Data: {point.Date}, Misura: {point.misura}'
            },
            plotOptions: {
                series: {
                    allowPointSelect: true,
                    turboThreshold: 0
                }
            },
            series: [{
                name: 'Basemap',
                borderColor: '#001f6d',//colore confini
                nullColor: 'rgba(169,0,0,0.3)',//colore mappa
                showInLegend: false

            }, {
                name: 'Separators',
                type: 'mapline',
                nullColor: '#2b2b2b', //colore marker
                showInLegend: false,
                enableMouseTracking: false

            }, {
                // Specify points using lat/lon
                type: 'mappoint',
                name: 'Cities',
                color: Highcharts.getOptions().colors[1],
                data: @Html(dati.toString)
            }]
        });
</script>


}
